.words-typing-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

#restart-btn,
#submit-btn-finished,
#submit-btn-disabled {
  align-self: flex-start;
  margin-top: 1rem;
}

#submit-btn-disabled {
  cursor: not-allowed;
  background-color: gray;
}

#submit-btn-disabled:hover {
  border-color: gray;
  box-shadow: gray;
}

#submit-btn-finished {
  background-color: rgb(22, 227, 152);
}

#submit-btn-finished:hover {
  border-color: rgb(22, 227, 152);
  box-shadow: 0 0 10px rgb(22, 227, 152);
}
